.about {
  position: relative;
  margin-top: 100px;
  padding-bottom: 110px;

  h2 {
    @include title-low;
    color: $grey;
    margin-bottom: 22px;
  }

  p {
    color: $grey;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
  }

  @include tablet {
    margin-top: 65px;
    padding-bottom: 82px;

    p {
      margin-bottom: 19px;
      padding-left: 2px;
    }
  }
}

.about__grid {
  display: flex;
  padding-right: 119px;
}

.about__wrap {
  margin-left: 300px;
  max-width: 984px;

  @include tablet {
    margin-left: 185px;
  }

  @include mobile {
    margin-left: 0;
  }
}

.about__year {
  @include title;

  position: absolute;
  top: 35px;
  left: 40px;
  display: inline-block;
  font-size: 156.248px;
  line-height: 260px;

  background: url("../img/background/about.png");
  background-repeat: no-repeat;
  background-position: center;
  color: $blue;
  text-align: center;
  /* -webkit-background-clip обрезает фон элемента по контуру текста */
  -webkit-text-fill-color: transparent;
  /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
  -webkit-background-clip: text;
  transform: rotate(-90deg);

  @include tablet {
    top: 55px;
    left: -85px;
    font-size: 178.324px;
    line-height: 251px;
  }

  @include mobile {
    display: none;
  }
}

.about {
  .visible-desktop {
    @include tablet {
      display: none;
    }
  }

  .visible-tablet {
    display: none;

    @include tablet {
      display: inline;
    }
  }
}
