.about {
  position: relative;
  margin-top: 104px;
  padding-bottom: 110px;

  @include tablet {
    margin-top: 53px;
    padding-bottom: 82px;
  }

  @include mobile {
    margin-top: 40px;
    padding-bottom: 65px;
  }
}

.about .visible-desktop {
  @include tablet {
    display: none;
  }
}

.about .visible-tablet {
  display: none;

  @include tablet {
    display: inline;
  }
}

.about h2 {
  @include title-low;
  color: $grey;
  margin-bottom: 22px;

  @include tablet {
    margin-bottom: 26px;
  }

  @include mobile {
    margin-bottom: 18px;
  }
}

.about p {
  color: $grey;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-right: 5px;

  @include tablet {
    margin-bottom: 19px;
    padding-left: 2px;
    overflow: hidden;

    &:last-of-type {

      text-overflow: ellipsis;
      min-width: 532px;
      overflow: hidden;
      /* stylelint-disable */
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      /* stylelint-enable */
      padding-right: 5px;
    }
  }

  @include mobile {
    padding: 0;

    &:last-of-type {
      min-width: 100%;
      margin-top: 40px;
      -webkit-line-clamp: 8;
      padding-right: 0;
    }
  }
}

.about__grid {
  display: flex;
  padding-right: 119px;
}

.about__wrap {
  margin-left: 300px;
  max-width: 984px;

  @include tablet {
    margin-left: 185px;
  }

  @include mobile {
    margin-left: 0;
  }
}

.about__year {
  @include title;

  position: absolute;
  top: 35px;
  left: 40px;
  display: inline-block;
  vertical-align: middle;
  font-size: 156.248px;
  line-height: 260px;

  background: url("../img/background/about.png");
  background-repeat: no-repeat;
  background-position: center;
  color: $blue;
  text-align: center;
  /* -webkit-background-clip обрезает фон элемента по контуру текста */
  -webkit-text-fill-color: transparent;
  /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
  background-clip: text;
  transform: rotate(-90deg);
  overflow: hidden;
  max-width: 310px;

  @include tablet {
    top: 55px;
    left: -85px;
    font-size: 178.324px;
    line-height: 251px;
    max-width: 350px;
  }

  @include mobile {
    display: none;
  }
}
