.advantages {
  padding-top: 110px;

  @include tablet {
    padding-top: 55px;
  }

  @include mobile {
    padding-top: 37px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  grid-template-columns: minmax(345px, 570px) minmax(345px, 570px);
  // grid-template-columns: 570px 570px;
  justify-content: center;
  // grid-template-rows: ;
  grid-auto-rows: 1fr;
  gap: 30px;

  @include tablet {
    grid-auto-rows: min-content;
  }

  @include mobile {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;
  padding: 40px 40px 50px 42px;

  @include tablet {
    padding: 24px 20px 5px 25px;
    min-height: 232px;
  }

  @include mobile {
    padding: 24px 11px 13px 25px;
    min-height: 232px;

    .mobile-visible {
      display: block;
    }
  }
  &--special-padding{
    @include mobile{
      padding-right: 20px;
    }
  }
}

.advantages__item .mobile-visible {
  display: none;
}

.advantages__item svg {
  color: $blue;
}

.advantages__item h3 {
  @include title;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $blue;
  margin-top: 15px;

  @include tablet {
    margin-top: 2px;
  }

  @include mobile {
    margin-top: 5px;
    font-size: 20px;
    line-height: 140.62%;
  }
}

.advantages__item p {
  font-size: 16px;
  line-height: 22px;
  color: $grey;

  @include tablet {
    margin-top: 8px;
  }

  @include mobile {
    margin-top: 8px;
  }
}

.advantages__item:hover {
  background-color: $blue;
}

.advantages__item:hover svg {
  color: $white;
}

.advantages__item:hover h3 {
  color: $white;
}

.advantages__item:hover p {
  color: $white;
}

.advantages__item--margin {
  @include mobile {
    margin-top: 5px;
  }
}

.advantages__item--margin p {
  @include mobile {
    margin-top: 15px;
  }
}

.advantages__item--margin-2 p {
  @include mobile {
    margin-top: 15px;
    padding-bottom: 0;
  }
}
