.advantages {
  padding-top: 100px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  grid-template-columns: minmax(345px, 570px) minmax(345px, 570px);
  // grid-template-columns: 570px 570px;
  justify-content: center;
  // grid-template-rows: ;
  grid-auto-rows: 1fr;
  gap: 30px;

  @include tablet {
    grid-auto-rows: min-content;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;
  padding: 40px 0 50px 45px;

  svg {
    color: $blue;
  }

  h3 {
    @include title;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: $blue;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }

  @include tablet {
    padding: 24px 20px 15px 27px;
  }
}

.advantages__item:hover {
  background-color: $blue;

  svg {
    color: $white;
  }

  h3 {
    color: $white;
  }

  p {
    color: $white;
  }
}
