.contact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  margin-left: auto;

  @include tablet {
    margin-right: 0;
    column-gap: 0;
  }

  @include mobile {
    column-gap: 0;
  }
}

.contact__mail,
.contact__phone,
.contact__button {
  color: $white;
  text-decoration: none;
}

.contact__mail,
.contact__phone {
  position: relative;
  line-height: 18px;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.5;
  }
}

.contact__mail span,
.contact__phone span {
  @include tablet {
    display: none;
  }
}

.contact__mail svg,
.contact__phone svg {
  color: $blue;
}

.contact__mail:hover svg,
.contact__phone:hover svg {
  color: $green;
}

.contact__icon {
  position: absolute;
  left: 0;

  @include tablet {
    position: relative;
  }
}

.contact__mail {
  padding-left: 39px;
}

.contact__mail svg {
  @include tablet {
    width: 25px;
    height: 19px;
  }
}

.contact__phone {
  margin-left: 68px;
  padding-left: 34px;

  @include tablet {
    padding-left: 0;
    margin-left: 33px;
  }

  @include mobile {
    margin-left: 23px;
  }
}

.contact__phone svg {
  @include tablet {
    width: 24px;
    height: 24px;
  }
}
