.contact-footer {
  max-width: 333px;

  @include tablet {
    padding-right: 25px;
    min-width: 370px;
  }

  @include mobile {
    margin-right: 0;
    padding: 0 15px;
    // padding-bottom: 28px;
    max-width: 100%;
    min-width: 270px;
    border-top: 1px solid rgba(#626962, 0.2);
  }
}

.contact-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-footer__link {
  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;
  text-decoration: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}

.contact-footer h3 {
  @include title;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark-grey;
  margin-bottom: 26px;

  @include tablet {
    padding-top: 38px;
  }

  @include mobile {

    position: relative;
    display: block;
    padding: 28px 0;
    padding-bottom: 0;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(50%);
      right: 8px;
      height: 16px;
      width: 1px;
      background-color: #c4c4c4;
    }

    &::after {
      transform: translateY(50%) rotate(90deg);
    }
  }
}
