.contact{
    display: flex;
    align-items: center;

}
.contact__mail,
.contact__phone,
.contact__button{
    color: $white;
    text-decoration: none;
}
.contact__mail,
.contact__phone{
    position: relative;
    line-height: 18px;
    @include tablet{
        span{
            display: none;
        }
    }
    
}
.contact__icon{
    position: absolute;
    left: 0;
    @include tablet{
        position: relative;
    }
}
.contact__mail{
    padding-left: 39px;
    @include tablet{
        svg{
            width: 25px;
            height: 19px;
        }
    }
}
.contact__phone{
    margin-left: 88px;
    padding-left: 34px;
    @include tablet{
        padding-left: 0;
        margin-left: 33px;
        svg{
            width: 24px;
            height: 24px;
        }
    }
    @include mobile{
        margin-left: 23px;
    }
}