.footer {
  // background-color: pink;
  position: relative;
  padding-top: 64px;

  @include tablet {
    padding-top: 20px;
  }

  @include mobile {
    padding-top: 46px;
  }
}

.footer__main {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 58px;

  @include tablet {
    display: block;
    padding-bottom: 35px;
  }

  @include mobile {
    padding-bottom: 0;
  }
}

.footer__wrap {
  max-width: 422px;

  .company {
    display: none;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-grey;
    opacity: 0.5;
    text-decoration: none;
  }

  @include tablet {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;

    .company {
      display: block;
    }
  }

  @include mobile {
    flex-direction: column;
    padding-bottom: 54px;

    .company {
      margin-top: 26px;
    }
  }
}

.footer__navigation {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;


  @include tablet {
    width: 100%;
    border-top: 1px solid rgba(#626962, 0.2);
  }

  @include mobile {

    display: block;
  }
}

.footer__bottom {
  padding: 14px 0;

  border-top: 1px solid rgba(#626962, 0.2);

  .company,
  .copyright,
  .privacy,
  .developed {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-grey;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    &:active {
      color: $blue;
    }
  }

  .company {
    margin-left: 5%;
  }

  .privacy {
    margin-left: 10.2%;
  }

  .developed {
    margin-left: auto;
  }

  @include tablet {

    .company,
    .copyright {
      display: none;
    }

    .privacy,
    .developed {
      margin-top: 5px;
      text-align: center;
    }

    .privacy {
      margin-left: 0;
    }
  }

  @include mobile {
    padding-top: 20px;

    .privacy,
    .developed {
      text-align: center;
    }

    .developed {
      margin-left: 0;
      margin-top: 25 px;
    }
  }
}

.footer__bottom-grid {
  display: flex;
  flex-wrap: wrap;

  // justify-content: space-between;


  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__logo .logo__name-company {
  display: block;
}
