.footer {
  position: relative;
  padding-top: 64px;

  @include tablet {
    padding-top: 20px;
  }

  @include mobile {
    padding-top: 46px;
  }
}

.footer__main {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 58px;

  @include tablet {
    display: block;
    padding-bottom: 35px;
  }

  @include mobile {
    padding-bottom: 0;
  }
}

.footer__wrap {
  max-width: 422px;

  @include tablet {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include mobile {
    flex-direction: column;
    padding-bottom: 54px;
    padding-left: 33px;
  }
}

.footer__wrap .company {
  display: none;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-grey;
  opacity: 0.5;
  text-decoration: none;

  @include tablet {
    display: block;
  }

  @include mobile {
    margin-top: 26px;
  }
}

.footer__navigation {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;

  @include tablet {
    width: 100%;
    border-top: 1px solid rgba(#626962, 0.2);
  }

  @include mobile {

    display: block;
  }
}

.footer__bottom {
  padding: 14px 0;
  border-top: 1px solid rgba(#626962, 0.2);

  @include mobile {
    padding-top: 20px;
  }
}

.footer__bottom .company,
.footer__bottom .copyright,
.footer__bottom .privacy,
.footer__bottom .developed {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-grey;
  opacity: 0.5;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }

  &:active {
    color: $blue;
  }
}

.footer__bottom .company {
  margin-left: 5%;

  @include tablet {
    display: none;
  }
}

.footer__bottom .copyright {
  @include tablet {
    display: none;
  }
}

.footer__bottom .privacy {
  margin-left: 10.2%;

  @include tablet {
    margin-top: 5px;
    margin-left: 0;
    text-align: center;
  }

  @include mobile {
    text-align: center;
  }
}

.footer__bottom .developed {
  margin-left: auto;

  @include tablet {
    margin-top: 5px;
    text-align: center;
  }

  @include mobile {
    text-align: center;
    margin-left: 0;
    margin-top: 25 px;
  }
}

.footer__bottom-grid {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
}

.footer__logo .logo__name-company {
  display: block;
}
