.footer {
  // background-color: pink;
  position: relative;
  padding-top: 64px;
}

.footer__main {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 58px;

  @include tablet {
    display: block;
  }
}

.footer__wrap {
  max-width: 422px;

  .company {
    display: none;
  }

  @include tablet {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#626962, 0.2);
    padding-bottom: 26px;

    .company {
      display: block;
    }
  }

  @include mobile {
    flex-direction: column;

    .company {
      margin-top: 26px;
    }
  }
}

.footer__navigation {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;

  @include mobile {
    display: block;
  }

}

.footer__bottom {
  padding: 14px 0;

  border-top: 1px solid rgba(#626962, 0.2);

  .company,
  .copyright,
  .privacy,
  .developed {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-grey;
    opacity: 0.5;
    text-decoration: none;
  }

  .company {
    margin-left: 5%;
  }

  .privacy {
    margin-left: 10.2%;
  }

  .developed {
    margin-left: auto;
  }

  @include tablet {

    .company,
    .copyright {
      display: none;
    }
  }

  @include mobile {

    .privacy,
    .developed {

      text-align: center;
    }
  }
}

.footer__bottom-grid {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__logo .logo__name-company {
  display: block;
}
