.panel-active ~ ul {
  display: block;
}

.panel-active {
  &::before {
    display: none;
  }
}

.panel-active + .contact-footer__list {
  padding-bottom: 28px;
}

.panel-active ~ .navigation__list:last-of-type {
  padding-bottom: 28px;
}
