.products {
  padding-top: 88px;
  padding-bottom: 128px;
  background-color: $dark-grey;

  @include tablet {
    padding-top: 52px;
    padding-bottom: 78px;
  }

  @include mobile {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

.products__grid {
  display: grid;
  justify-content: center;
}

.products h2 {
  @include title-low;
  color: $white;
  letter-spacing: 0.2px;
  @include tablet{
    line-height: 140.62%;
    letter-spacing: 0.32px;
  }
  @include mobile {
    font-size: 28px;
    padding-left: 10px;
    padding-top: 5px;
  }
}

.products__list {
  padding: 0;
  margin: 0;
  margin-top: 52px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 370px));
  gap: 30px;
  justify-content: center;

  @include tablet {
    margin-top: 50px;
    grid-template-columns: 1fr;
    row-gap: 46px;
  }

  @include mobile {
    margin-top: 40px;
    row-gap: 30px;
  }
}

.products__link {
  position: relative;
  display: block;
  height: 620px;
  color: $white;
  text-decoration: none;
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 63px;
    height: 63px;
    background-color: $blue;
    background-image: url("../img/icon/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include tablet {
    height: 256px;
  }

  background-repeat: no-repeat;
  background-size: cover;

  &--manufacture {
    background-image: url("../img/content/manufacture.png");
  }

  &--set {
    background-image: url("../img/content/set.png");
  }

  &--components {
    background-image: url("../img/content/components.png");
  }

  @include retina {
    &--manufacture {
      background-image: url("../img/content/manufacture@2x.png");
    }

    &--set {
      background-image: url("../img/content/set@2x.png");
    }

    &--components {
      background-image: url("../img/content/components@2x.png");
    }
  }

  @include tablet {
    &--manufacture {
      background-image: url("../img/content/manufacture-tablet.png");
    }

    &--set {
      background-image: url("../img/content/set-tablet.png");
    }

    &--components {
      background-image: url("../img/content/components-tablet.png");
    }

    @include retina {
      &--manufacture {
        background-image: url("../img/content/manufacture-tablet@2x.png");
      }

      &--set {
        background-image: url("../img/content/set-tablet@2x.png");
      }

      &--components {
        background-image: url("../img/content/components-tablet@2x.png");
      }
    }
  }

  @include mobile {
    &--manufacture {
      background-image: url("../img/content/manufacture-mobile.png");
    }

    &--set {
      background-image: url("../img/content/set-mobile.png");
    }

    &--components {
      background-image: url("../img/content/components-mobile.png");
    }

    @include retina {
      &--manufacture {
        background-image: url("../img/content/manufacture-mobile@2x.png");
      }

      &--set {
        background-image: url("../img/content/set-mobile@2x.png");
      }

      &--components {
        background-image: url("../img/content/components-mobile@2x.png");
      }
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;

    &::before {
      background-color: $green;
    }
  }
}

.products__link p {
  margin: 0;
  padding: 53px 0 0 43px;
  max-width: 200px;

  @include tablet {
    padding: 40px 0 0 43px;
  }

  @include mobile {
    padding: 20px 0 0 37px;
  }
}

.products__link:active p {
  color: $blue;
}
