.questions {
  padding: 90px 0 112px 0;
  background-color: $blue;
  background-image: url("../img/background/plane.png"), url("../img/background/triangle.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position-x: 25%, 14%;
  background-position-y: 160px, -60px;

  @include desktop-background {
    background-position-x: -10px, 0;
  }

  @include desktop-background-step2 {
    background-position-x: -200px, 0;
  }

  @include retina {
    background-image: url("../img/background/plane@2x.png"), url("../img/background/triangle.svg");
  }

  @include tablet {
    min-height: 0;
    padding: 78px 0 105px 0;
    background-image: none;
  }

  @include mobile {}
}

.questions__grid {
  max-width: 570px;
  margin: 0 125px 0 auto;
  // border: 1px solid red;

  @include tablet {
    margin: 0 auto;
    max-width: 590px;
  }

  @include mobile {
    margin: 0;
    max-width: 100%;
  }
}

.questions__form-grid {
  margin-top: 50px;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 270px 270px;
  grid-template-rows: 50px 155px min-content;
  row-gap: 40px;
  column-gap: 30px;

  @include tablet {
    margin-top: 55px;
    padding-left: 0;
    grid-template-columns: 280px 280px;
    column-gap: 32px;
    row-gap: 42px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 51px 51px 104px 47px 41px;
  }
}

.questions__grid h2 {
  @include title-low;
  color: $white;
}

.questions__grid p {
  margin: 0;
  margin-top: 10px;
  padding-left: 5px;
  color: $white;

  @include tablet {
    padding-left: 2px;
  }
}

.questions__form input,
.questions__form textarea {
  display: block;
  padding: 14px 0 15px 17px;
  border: none;
  color: $white;
  background-color: rgba($white, 0.1);
  resize: none;

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: $white;
    font-family: "PTMono", "Arial", sans-serif;
    opacity: 1;
  }

  &:hover {
    background-color: rgba($white, 0.3);
  }
}

.questions__form .textarea {
  grid-column-start: 1;
  grid-column-end: 3;

  textarea {
    width: 100%;
    height: 155px;
  }

  @include tablet {
    textarea {
      height: 160px;
    }
  }

  @include mobile {
    grid-column-start: 1;
    grid-column-end: 2;

    textarea {
      height: 104px;
    }
  }
}

.questions__form input[type="text"] {
  width: 270px;

  @include tablet {
    width: 100%;
  }

  // @include mobile {
  //   width: 100%;
  // }
}

.questions__form input[type="tel"] {
  width: 270px;

  @include tablet {
    width: 100%;
  }
}

.questions__check {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  padding-left: 40px;
  margin-top: 11px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $green;
    opacity: 0.8;
  }

  @include tablet {
    margin-top: 18px;
  }
}

.questions__form input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
  color: $white;
  background-image: none;
}

.questions__form input[type="checkbox"]:checked+label::before {
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
