// PT MONO - standart font
@font-face {
  font-family: "ptmono-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptmono-regular1.woff2") format("woff2"),
   url("../fonts/ptmono-regular1.woff") format("woff");
}

// robotocondensed Bold
@font-face {
  font-family: "robotocondensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold1.woff2") format("woff2"),
   url("../fonts/robotocondensed-bold1.woff") format("woff");
}

// robotocondensed Regular
@font-face {
  font-family: "robotocondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed-regular1.woff2") format("woff2"),
    url("../fonts/robotocondensed-regular1.woff") format("woff");
}
