// PT MONO - standart font
@font-face {
  font-family: "PTMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
}

// RobotoCondensed Bold
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

// RobotoCondensed Regular
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

// Roboto Medium
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
}
