*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 19px;
  // height: 100%;

  @include tablet {
    max-width: 820px;
    padding: 0 25px;
  }

  @include mobile {
    min-width: 320px;
    padding: 0 15px;
  }

  &--about {
    // padding-left: 50px;
    padding-right: 120px;

    @include tablet {
      padding-right: 25px;
    }

    @include mobile {
      padding-right: 15px;
    }
  }
}

html {
  overflow-y: scroll;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.page,
.page__body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  @include standart-font;
}

.page__body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

.overflow {
  // position: fixed;
  overflow: hidden;
}

.mobile-hidden {
  @include mobile {
    display: none;
  }
}

.mobile-visible {
  display: none;

  @include mobile {
    display: inline;
  }
}
