@mixin tablet {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2dppx) {
    @content;
  }
}

@mixin desktop-background {
  @media screen and (max-width: $desktop-back) {
    @content;
  }
}

@mixin desktop-background-step2 {
  @media screen and (max-width: $desktop-back-step2) {
    @content;
  }
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin standart-font {
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin title {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

@mixin title-low {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 51px;

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 28px;
  }
}

@mixin focus {
  &:focus {
    outline: 2px solid $green;
  }
}
