@mixin tablet {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2dppx) {
    @content;
  }
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $special-black;

  @include tablet {
    font-size: 24px;
    line-height: 41px;
  }
}
