// Начните писать стили здесь
// переменные, цвета
@import "variables.scss";
//
@import "mixins.scss";
// подключение шрифтов
@import "fonts.scss";
//++++++++ Блоки +++++++++++
@import "block/header.scss";
@import "block/logo.scss";
@import "block/button.scss";
@import "block/navigation.scss";
@import "block/contact-footer.scss";
@import "block/advantages.scss";
@import "block/products.scss";
@import "block/footer.scss";
@import "block/social.scss";
@import "block/contact.scss";
@import "block/questions.scss";
@import "block/about.scss";
@import "block/modal.scss";
@import "block/modal-wrapper.scss";

// глобальные стили
@import "global.scss";
